header a{
  text-decoration: none;
}
body{ 
    background-image:url("../images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.buttonCenter{
    text-align: center;
    height: 80vh;
    margin:200px 40px;
    padding: 10px;

}
/* ,fot class # for id nothing for element  thik h ?*/
.button3{
    background-color:rgb(175, 175, 7); /* Green */
    border: none;
    
    color: black;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    box-shadow: -2px -2px  rgb(248, 242, 242);
    /*thik h ? */ 
    /* position: absolute; */
    /* top:50%;
    right:46%; */

    
}
.button4 {
    background-color:rgb(175, 175, 7); /* Green */
    border: none;
    margin: 5px;
    color: black;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    box-shadow: 2px -2px  rgb(248, 242, 242);
    
    
}
.modal-headerin {
    padding: 2px 16px;
    text-align: center;
    position: relative;

    
  }
  .indexcont {
    padding: 16px;
    text-align: left;
  }
  .modalin {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-contentin {
    background-color: #fff;
    margin-top: 15px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }

