body{
    background-image: none;
    background-color: #fff;
}
#commentbox{
  height: 100px;
}
.comment{
  background-color: #fff;
  padding: 10px;
  font-size: small;
 
}
.post{
    padding: 30px 60px 0px 60px;
    
}

.bodyhead{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    font-stretch: wider;
}

.bodydes{
    padding: 20px 0px;
    text-align: justify;
}
.postHead{
  display: flex;
  justify-content: space-between;
}

.make-it-slow {
    box-shadow: 10px 10px 10px rgba(231, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
   
  }
  .btn{
     padding: 10px 20px; 
    background-color: red;
     color: white;
     border: 0px; float: right;
    
  }
  .make-it-slow:hover {
    box-shadow: 10px 10px 15px rgba(182, 0, 0, 0.3);
    cursor: pointer;
  }

  .textarea{
    border:1px;
    border-color: gray;
    border-style: solid;
  }